@property --pages {
    syntax: "<number>";
    inherits: true;
    initial-value: 23;
}

@property --translation {
    syntax: "<length>";
    inherits: true;
    initial-value: 0%;
}

@property --red-1 {
    syntax: "<color>";
    inherits: true;
    initial-value: rgb(218, 41, 28);
}

@property --red-2 {
    syntax: "<color>";
    inherits: true;
    initial-value: rgba(218, 41, 28, 0.5);
}

@property --radius-1 {
    syntax: "<length>";
    inherits: true;
    initial-value: 6px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    width: calc(var(--pages) * 100%);
    transform: translateX(var(--translation));
    transition: width 0.5s ease, transform 0.5s ease;
}

button {
    border: none;
    background: none;
    outline: none;
}

.page {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    background-blend-mode: color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: clamp(80px, 20dvh, 400px) clamp(30px, 20dvw, 300px);
}

.page > h2 {
    text-transform: uppercase;
    padding: 0;
    font-weight: 600;
    padding: 10px 0 10px 0;
    margin: 0;
    border-radius: 10px;
}

.page > h3 {
    text-transform: uppercase;
    padding: 0;
    font-weight: 600;
    padding: 10px 0 10px 0;
    margin: 0;
    border-radius: 10px;
}

.page > ul {
    margin: 0;
    padding: 10px 0 10px 40px;
}

.page > p {
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.page > p::selection {
  background-color: var(--red-2);
}

.chapter-list {
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2);
    /*scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    scroll-behavior: smooth;
    scroll-snap-align: center;*/
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 5;
}

/*Javscript generated*/
.chapter-list li {
    width: 100%;
    height: 100%;
}

/*Javscript generated*/
.chapter {
    display: block;
    color: white;
    font-size: 0.8;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 5px 1px 5px;
    opacity: 1;
    z-index: 5;
    transition: transform 0.3s ease, opacity 0.3s ease, height 0.3s ease, background 0.3s ease;
}

/*Javscript generated*/
.chapter:hover {
    background-color: var(--red-2);
}

/*Javscript generated*/
.chapter.collapse {
    transform: translateY(-100%);
    opacity: 0;
}

/*Javscript generated*/
.chapter img {
    min-width: 32px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.link {
    display: flex;
    position: fixed;
    width: fit-content;
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    z-index: 5;
    transition: transform 0.3s ease, opacity 0.3s ease, background 0.3s ease;
}

.link:hover {
    background-color: var(--red-2);
}

.link[id="previous"] {
    border-radius: 0 20px 20px 0;
    top: 50dvh;
    left: 0;
}

.link[id="next"] {
    border-radius: 20px 0 0 20px;
    top: 50dvh;
    right: 0;
}

.link.collapse[id="previous"] {
    transform: translateX(-100%);
    opacity: 0;
}

.link.collapse[id="next"] {
    transform: translateX(100%);
    opacity: 0;
}

.logo-wrapper {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px 20px;
    z-index: 5;
}

.logo {
    width: 10dvw;
}